.playlist {
	max-width: 600px;
	margin: 0 auto;
	&__list {
		list-style: none;
	}
	&__item {
		margin-bottom: 5px;
	}
}

.playlist-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border: 2px solid transparent;
	cursor: pointer;
	&:hover {
		border-color: $color-brand;
	}
	&:hover &__controls {
		opacity: 1;
	}
	&__name,
	&__duration {
		display: block;
		pointer-events: none;
	}
	&__name {
	}
	&__duration {
	}
	&__controls {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		opacity: 0;
	}
}
.playlist-item--active {
	color: #ffffff;
	background-color: $color-brand;
	border-color: $color-brand;
}
